$main-color: #05cc84;

::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}

// button
.mainbtn {
    @apply bg-primary text-white py-[12px] px-[16px] rounded-[32px] flex items-center justify-center;
}
.secondbtn {
    @apply text-primary hover:text-white relative py-[12px] px-[16px] rounded-[32px] bg-trans isolation-auto z-10 border border-primary before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-primary before:-z-10 before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700;
}
// .secondbtn:hover {
//     @apply bg-primary text-white border border-primary transition-all duration-300;
// }

// text
.mainheader {
    @apply font-semibold lg:text-[40px] text-[30px] relative z-[20] text-text;
}
.mainheader::before {
    @apply content-[''] w-[70px] h-[70px] bg-primary absolute top-[-25px] lg:top-[-15px] start-[-20px] rounded-full z-[-1];
}

// form
select option[disabled] {
    @apply text-[#999] italic;
}

.maininput {
    @apply flex items-stretch;
}

.maininput input,
.maininput select {
    @apply h-[60px] rounded-[33.5px] border border-[#F7F8F8] focus:outline-none w-full px-4 caret-primary bg-white;
}
.maininput textarea {
    @apply h-[150px] w-full rounded-[33.5px] border border-[#F7F8F8] focus:outline-none p-4 caret-primary bg-white;
}

.countreyinput {
    @apply flex min-h-[60px] border border-[#F7F8F8] rounded-[33px] ps-4 bg-white;
}
.countreyinput input {
    @apply border border-[#F7F8F8] w-full rounded-e-[33px] focus:outline-none caret-primary bg-white;
}

.select-dropdown {
    @apply relative;
}
.select-dropdown select {
    @apply p-4 appearance-none focus:outline-none active:outline-none bg-white w-full rounded-[33px] text-[#999];
}
.select-dropdown:after {
    @apply content-[''] absolute top-[50%] mt-[-2px] end-[15px] w-0 h-0 border-t-[5px] border-t-[#aaa] border-x-[5px] border-x-trans border-solid;
}
